.status-red {
    -fx-background-color:rgba(128,0,0,0.5);
}
.status-green {
    -fx-background-color:rgba(0,128,0,0.7);
}
.status-blue {
    -fx-background-color:rgba(0,0,128,0.7);
}
.status-gray {
    -fx-background-color:rgba(128,128,128,0.7);
}
.dashed-line {
    -fx-stroke-width: 2;
    -fx-stroke:rgba(128,0,0,0.5);
    /* -fx-stroke-dash-array: 8; */
}
